@charset "utf-8";
/* css样式重置 */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{
	margin:0;padding:0;
}
body{
	font-size: 16px;
	font-family: "微软雅黑";
}
ul,ol,li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-size: 16px;
	font-weight: normal;
}
b,strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
a,u{
	text-decoration: none;
}
input{
	outline: none;
	border: 0;
}
img{
	display: block;
	border: 0;
}
textarea{
	resize: none;
}
.clear_fix::after{
	content: "";
	overflow: hidden;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
body,html{
	width: 100%;
	height: 100%;
}
*{
	box-sizing: border-box;
}
