.change{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.36rem 0 0.5rem;
    padding-bottom: 1rem;
    padding-top:0.88rem;
}
.change img{
    display: block;
    width: 0.72rem;
    margin: 0 0 0.12rem;
   
}
.am-carousel{
     touch-action: none;
}
.change2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.change2 img{
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    margin: 0 0 0.1rem;
}
.change2>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    padding: 0.88rem 0.3rem 0.5rem;
}
.wrapper2-content{overflow-y: auto;}
.content>p{
      height: .4rem;
      font-size: .36rem;
      color: #000;
      font-weight: 900;
     
}
.content>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.3rem;
    justify-content: space-between;
}
.content>div dl{
    width: 3.3rem;
    height: 3.76rem;
    margin: 0 0.08rem 0.18rem 0;
}
.content>div dl>img{
    height: 2rem;
    display: block;
    width: 3.3rem;
}
.content dl>div{
     padding-top: 0.18rem;
     width: 100%;
}
.content dl div p{
    color: #333;
    margin: 0 0 0.06rem;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.content dl div .info{
         width: 100%;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;    
}


.info span{
    color: #898989;
    font-size: 10px;   
}
.content dl div ul{
     width: 100%;
     height: 0.4rem;
}
.content dl div ul li{
                float: left;              
                color: #C14374;
                border: 0.01rem solid rgba(193,67,116,.2);
                margin: 0 0.1rem 0.1rem 0;
}
.content dl>.price{
    color: #C04374;
}