.footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: 1rem;
    width: 100%;
    bottom:0;
    z-index: 1;
    background: #fff;
}
.footer>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0 0;
    color: #898989;
}
.footer>a div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.type{color: #C04374;} 