header .header-one{
     width: 7.5rem;
     height: 0.88rem;
     padding: 0  0.36rem;
     display: flex;
     flex-direction: row;
     justify-content:space-between;
     align-items: center;     
     font-family: PingFangSC-Medium;
     color: #333;
     font-weight: 500;
}
.header-cont{
     border-bottom:0.02rem solid #ccc;
     background: #fff;
     position: fixed;
     top:0;
     left: 0;
     z-index: 10;
}

header p{font-size: 15px;}
header .wrapper{
     display: block;
     width: 100%;
     overflow-x: hidden;
}
header .content{
     height: 0.88rem;
     display: inline-flex;
     align-items: center;
     width: 15.5rem;
}
header .content li{
     flex: 0 0 auto;
     display: inline-block;
     padding: 0 .24rem;
      margin: 0 .1rem;
}
.content li span{
      font-size: 13px;
      font-weight: 500;
      padding: 0.24rem 0;
}