.details{
	position: relative;
	.details_header{
		position: fixed;
		top: 0;
		left: 0;
		height: .88rem;
		width: 100%;
		background: rgba($color: #000000, $alpha: .3);
		padding: 0 .5rem;
		.opheader{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			div{
				display: flex;
				align-items: center;
				justify-content: center;
				width: .2rem;
				height: 100%;
				background: pink;
			}

		}
	}
	.details_content{

	}
	.details_footer{
		position: fixed;
		bottom: 0;
		left: 0;
		height: 1.1rem;
		width: 100%;
		padding: .1rem .4rem;
		display: flex;
		justify-content: space-between;
		.details_footer_service{
			width: 3rem;
			height: 100%;
			display: flex;
			>div{
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				color: #333;
				i{
					font-size: 22px;
				}
			}
		}
		.details_footer_shopBtn{
			width: 4.5rem;
			height: 100%;
			text-align: center;
			line-height: .9rem;
			background-color: #C04374;
			font-size: 16px;
			color: #FFFFFF;
		}
	}
}