.sc-example{
    margin: 0 !important;
}
.find-herder{
    width: 7.5rem;
    height: 0.88rem;
    padding: 0  0.36rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;     
    font-family: PingFangSC-Medium;
    color: #333;
    font-weight: 500;
    font-size: 15px;
}
.find-allheader{
    position:sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
}
.find-nav{
    box-sizing: border-box;
    height: 0.88rem;
    border-bottom: 0.02rem solid rgba(193,67,116,0.8);
    padding: 0 0.36rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.find-nav>li{
    display: flex;
    align-items: center;
    font-size: 13px;
    
}
.find-nav li>span{
    padding: 0 0.24rem;
}
.sec{
    padding: 0.36rem 0.36rem;
}
.sec img{
     display: block;
     width: 100%;
     height: 3.8rem;
    
}
.sec>div{
      margin-bottom: 0.72rem;
      position: relative;
}
.sec .find-cont{
    width: 100%;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    font-size: 15px;
    color: #333;
    text-align: center;
    letter-spacing: 0.02133rem;
    margin: 0.24rem 0 0.12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sec .find-cont2{
    width: 100%;
    text-align: center;
    font-family: PingFangSC-Light;
    font-size: 11px;
    color: #333333;
    letter-spacing: 0.004rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bmfind-item-type {
    position: absolute;
    right: 9Px;
    top: 9Px;
    padding: 2Px 6Px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: PingFangSC-Regular;
    font-size: 0.24rem;
    border-radius: 0.05333rem;
}
.sc-example {
    padding-bottom: 13px;
  }
  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
    margin: 0;
  }
  .sc-example .am-segment-item{
      border: none;
      color: #000;
      border-radius: none;
  } 
